html, body {
    // height: 100vh;
  }

  body {
    max-width: 600px;
    @include calc(height, "100vh - 4.5rem");
    margin: 0 auto;
    font-family: 'haas', sans-serif;

  }
  .use-on-mobile {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $color-bg;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: 999;

    &.hide {
      display: none;

    }
    &.visible {
      display: flex;
    }
  }

  .warning {
    position: absolute;
    top: 70px;
    left: 0;
    @include calc (width, "100% - 2rem");
    margin: 0 1rem;
    background: $color-ctm;
    color: #fff;
    z-index: 1;
    display: none;

    h2 {
      text-transform: uppercase;
      padding: 2rem 2rem 0;
      font-size: 3.9rem;
      font-weight: 400;
    }

    p {
      padding: 0 2rem 2rem;
      font-size: 1.8rem;
      font-weight: 400;

    }

    .validate {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
    }
  }

  .checkmark{
    display:inline-block;

    &:after{
     content: '';
     display: block;
     right: 2rem;
     bottom: 2rem;
     position: absolute;
     width: 11px;
     height: 20px;
     border: solid #fff;
     border-width: 0 2px 2px 0;
     transform: rotate(45deg);
   }
 }

 .marque {
  overflow: hidden;
}
/* juste pour visualiser l'effet */
.marque:hover [data-text]:before {
  animation-play-state: paused;
}

/* les blocks défilants */
.marque [data-text] {
  white-space: nowrap;
  display: inline-block;
  min-width: 200%;            /* 2 fois la largeur du conteneur */
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}
.marque [data-text]:before,
.marque [data-text]:after {
  content: attr( data-text) "\00A0";
  display: inline-block;
  min-width: 50%;             /* la moitié du parent */
}
.marque [data-text]:before {
  animation: marque-defil 15s infinite linear;
}
@keyframes marque-defil {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -50%;
  }
}

header {
  background: $color-bg;
  height: 4.5rem;
  border-bottom: 3px solid #000;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  .marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: 'haas', sans-serif;
  }

  .marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 5s linear infinite;
  }

  .marquee2 span {
    animation-delay: 1.62s;
  }

  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

}

.hide {
  display: none;
}
.no-visible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.ui-loader{
  display: none;
}
main {
  position: relative;
  background: $color-bg;
  @include calc(height, '100vh - 4.5rem');
  margin-top: 4.5rem;

  h2.title-page {
    border-bottom: 3px solid #000;
    text-transform: uppercase;
    font-size: 3.9rem;
    padding: 1rem;
    margin: 0;
  }
  p {
    margin: 0;
  }

  .imgwrapper {
    min-height: 200px;
    height: 59vh;
        // background: url('../images/mondrian.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-bottom: 3px solid #000;
        text-align: center;
        font-size: 3rem;
        height: 40vh;


        &.btn_add-img {
          p {
            text-transform: uppercase;
          }
        }


        & + .form {
        }

        p {
          display: flex;
          flex-flow: column wrap;
          align-items: center;
          justify-content: center;
          height: 100%;
        }

        img {
          max-width: 100%;
          height: auto;
        }
      }

      .infowrapper {
        font-size: 3rem;
        @include calc(height, "55vh - 4.5rem");
        // height: 37vh;

        ul {
          background: $color-bg;
          height: 100%;
          font-family: 'haas', sans-serif;
          li {
            display: block;
            padding: 1rem 1rem;
            text-transform: uppercase;
            transition: .3s ease-out;
            font-family: 'haas', sans-serif;
            display: flex;
            flex-grow: column wrap;
            align-items: center;


                // height: 25%;


                & + li {
                  border-top: 3px solid #000;
                }

                &.input-statut {
                  display: none;
                }
              }
            }
            &.infowrapper_page-front {
              li {
                height: 25%;
              }
            }

            &.infowrapper_page-add {
              @include calc(height, "55vh - 10.5rem");

            }
          }
        }

        .page-about {
          h2 {
            text-transform: uppercase;
            padding: 2rem 1rem 0;
            font-size: 3.9rem;
            font-weight: normal;
            margin-bottom: 1.5rem;
          }

          .intro-content {
            padding: 0 1rem 1rem 1rem;
            border-bottom: 3px solid #000;

            p {
              margin-bottom: 2rem;
            }

          }

          .explanation {
            padding: 2rem 1rem;

            p {
              margin-bottom: 3rem;
            }

            h2 {
              padding: 0;
              sup {
                font-size: 1.2rem;
                top: -1.7em;
                text-transform: lowercase;
              }

              &.title-device {
                position: relative;
                padding-left: 8.4rem;
                margin-top: 2.5rem;

                &::after {
                  content: '';
                  background: url('../images/arrow-device.svg');
                  background-repeat: no-repeat;
                  background-size: contain;
                  width: 74px;
                  height: 28px;
                  position: absolute;
                  top: 50%;
                  left: 0;
                  transform: translateY(-50%);
                }

                & + .title-device {
                }
              }

            }
            .explanation-otheros {
              p {
                max-width: 180px;
                margin: 0 auto;
                text-align: center;
              }
            }
            ul {
              display: flex;
              flex-flow: row wrap;
              justify-content: space-around;

              li {
                position: relative;
                padding-top: 4rem;

                &:after {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 50%;
                  background-repeat: no-repeat;
                  background-size: contain;
                  transform: translateX(-50%);
                }
                &:first-child {
                  &:after {
                    background: url('../images/icon-settings.svg');
                    width: 25px;
                    height: 38px;
                    top: -10px;
                  }
                }
                &:nth-child(2) {
                  &:after {
                    background: url('../images/icon-homescreen.svg');
                    width: 31px;
                    height: 31px;

                  }
                }
                &:nth-child(3) {
                  &:after {
                    background: url('../images/icon-enjoy.svg');
                    width: 29px;
                    height: 30px;

                  }
                }
              }

              &.android-device {
                li {
                  &:first-child {
                    &:after {
                      background: url('../images/icon-settings-android.svg');
                      background-repeat: no-repeat;
                      width: 6px;
                      height: 28px;
                      top: 0;
                    }
                  }
                  &:nth-child(2) {
                    &:after {
                      background: url('../images/icon-homescreen-android.svg');
                      width: 32px;
                      height: 32px;

                    }
                  }
                  &:nth-child(3) {
                    &:after {
                      background: url('../images/icon-enjoy.svg');
                      width: 29px;
                      height: 30px;

                    }
                  }
                }
              }

            }
          }

        }
