// Colors

$color-bg: #D3D3D3;
$color-txt: #000;
$color-ctm: #0C00FF;

$color-link: #000;
$color-hover: #fff;

$color-bd: #000;
$color-bd-light: #fff;


// fonts

$ff: 'Haas', sans-serif;
$ff-title : 'Haas', serif;
